html {
  background-color: #000000;
}

#logo {
  padding-top: 2%;
  text-align: center;
}

#page-heading {
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

#page-heading h2 {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

#car {
  text-align: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  font-family: Helvetica;
}

h2 {
  color: #ffffff;
  text-align: justify;
  font-family: Helvetica;
}

p {
  color: #ffffff;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
}

#ref {
  font-size: 30px;
  font-weight: lighter;
  height: 60px;
}

#ref_code {
font-size: 60px;

}
#invite h2{
  text-align: center;
  padding-top: 5px;
}

#blurbs {
  text-align: center;
  margin-left: 15%;
}

#container-one {
  width: 30%;
  margin-top: 5%;
  margin-left: 15%;
}

#container-one p {
  text-align: left;
  font-size: 20px;
}

#container-two {
  width: 30%;
  margin-top: -160px;
  margin-left: 50%;
}

#container-two p {
    text-align: left;
    font-size: 20px;
}

a {
  color: #ffffff;
}
